* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #282c34;
}

h1 {
  font-weight: bold;
}

main {
  width: 800px;
  margin: 0 auto;
}

nav a {
  margin-left: 16px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 0 8px 0;
  border-bottom: 1px solid #ccc;
}

label {
  display: block;
  padding: 3px 0;
  cursor: pointer;
}

.file-name {
  width: 400px;
  max-width: 400px;
}

.upload-progress {
  margin-top: 8px;
  max-width: 400px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar image {
  object-fit: cover;
  object-position: center center;
}

.sign-in-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mm-disabled {
  width: 400px;
}

@font-face {
  font-family: "Adelle Sans";
  src: url("/fonts/AdelleSans-Regular.woff2") format("woff2"),
    url("/fonts/AdelleSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adelle Sans Semibold";
  src: url("/fonts/AdelleSans-Semibold.woff2") format("woff2"),
    url("/fonts/AdelleSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
  font-family: inherit; /* For all browsers */
  font-size: 100%; /* For all browsers */
  line-height: 1.15; /* For all browsers */
  margin: 0; /* Firefox and Safari have margin */
  overflow: visible; /* Edge hides overflow */
  text-transform: none; /* Firefox inherits text-transform */
  -webkit-appearance: button; /* Safari otherwise prevents some styles */
  transition: 250ms ease-in-out, transform 150ms ease;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
