* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #282c34;
}

h1 {
  font-weight: bold;
}

main {
  width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  padding: 3px 0;
  cursor: pointer;
}

@font-face {
  font-family: "Adelle Sans";
  src: url("/fonts/AdelleSans-Regular.woff2") format("woff2"),
    url("/fonts/AdelleSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adelle Sans Semibold";
  src: url("/fonts/AdelleSans-Semibold.woff2") format("woff2"),
    url("/fonts/AdelleSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
  font-family: inherit; /* For all browsers */
  font-size: 100%; /* For all browsers */
  line-height: 1.15; /* For all browsers */
  margin: 0; /* Firefox and Safari have margin */
  overflow: visible; /* Edge hides overflow */
  text-transform: none; /* Firefox inherits text-transform */
  -webkit-appearance: button; /* Safari otherwise prevents some styles */
  transition: 250ms ease-in-out, transform 150ms ease;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
