.toilet {
  position: fixed;
  left: -10vw;
  width: 120vw;
  height: 120vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/water.jpg");
  animation: spin 120s infinite linear;
  transform: translateY(-50%);
  transform-origin: center 0;
  top: 50%;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  position: absolute;
  top: -100px;
  left: 0;
  width: 187px;
  height: 48px;
}

.inner {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  height: 489px;
  padding: 70px;
  background: radial-gradient(rgba(65, 50, 128, 0.85), rgba(22, 11, 69, 0.85));
}
.filebox,
.signbox {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.filebox {
  border: 3px dashed white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 386px;
}

.signbox {
  border: 1px solid white;
  max-width: 490px;
  padding: 34px;
  color: white;
}

.uploadbutton {
  pointer-events: none;
  opacity: 0.5;
  max-width: 322px;
  width: 100%;
  height: 41px;
  background-color: #ff8271;
  border-radius: 5px;
  text-align: center;
  color: #160b45;
  /* TODO ask Ben how his font import works */
  font-family: "Adelle Sans Semibold";
}
.uploadbutton:hover,
.uploadbutton:focus {
  border: 1px solid white;
  background-color: rgba(22, 11, 69, 0);
  color: white;
}

.signbutton {
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  max-width: 241px;
  width: 100%;
  height: 41px;
  border: 1px solid white;
}

.signbutton:hover,
.signbutton:focus {
  border: none;
  background: #ff8271;
  color: #160b45;
}

.description {
  margin-top: 16px;
  margin-bottom: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateY(-50%);
  }
  to {
    transform: rotate(360deg) translateY(-50%);
  }
}
